*{
    margin: 0px;
    padding: 0px;
    align-items: center;
}
body{
    background: rgba(116,2,28,1);
    background: -moz-linear-gradient(left, 
    rgba(116,2,28,1) 0%, 
    rgba(116,2,28,1) 44%, 
    rgba(105,2,25,1) 58%, 
    rgba(71,0,17,1) 100%);
    background: -webkit-gradient(left top, right top, 
                color-stop(0%, rgba(116,2,28,1)), 
                color-stop(44%, rgba(116,2,28,1)), 
                color-stop(58%, rgba(105,2,25,1)), 
                color-stop(100%, rgba(71,0,17,1)));
    background: -webkit-linear-gradient(left, rgba(116,2,28,1) 0%, rgba(116,2,28,1) 44%, rgba(105,2,25,1) 58%, rgba(71,0,17,1) 100%);
    background: -o-linear-gradient(left, rgba(116,2,28,1) 0%, rgba(116,2,28,1) 44%, rgba(105,2,25,1) 58%, rgba(71,0,17,1) 100%);
    background: -ms-linear-gradient(left, rgba(116,2,28,1) 0%, rgba(116,2,28,1) 44%, rgba(105,2,25,1) 58%, rgba(71,0,17,1) 100%);
    background: linear-gradient(to right, rgba(116,2,28,1) 0%, rgba(116,2,28,1) 44%, rgba(105,2,25,1) 58%, rgba(71,0,17,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74021c', endColorstr='#470011', GradientType=1 );
    
}
.contenedor{
    height: 480px;
    width: 500px;
    border-style: solid;
    border: solid;    
}
.fila{
    margin: 0px;
    padding: 0px;
    height: 80px;
    width: 500px;
    border: ;
    
    display: flex;
}
.celda {
    background-color: black;
    border: solid;
    margin: 4px;
    padding: 0px;
    height: 60px;
    width: 80px;
    border-radius: 60px;
}
.celda:hover{
    background-color: blanchedalmond;
}
.jugador1{
    background-color: blue;
}
.jugador2{
    background-color: red;
}